= content_for :sub_nav do
  .scrolling-tabs-container.sub-nav-scroll
    = render 'shared/nav_scroll'
    .nav-links.sub-nav.scrolling-tabs
      %ul{ class: (container_class) }
        = nav_link(controller: %w(tree blob blame edit_tree new_tree find_file)) do
          = link_to project_tree_path(@project) do
            #{ _('Files') }

        = nav_link(controller: [:commit, :commits]) do
          = link_to project_commits_path(@project, current_ref) do
            #{ _('Commits') }

        = nav_link(html_options: {class: branches_tab_class}) do
          = link_to project_branches_path(@project) do
            #{ _('Branches') }

        = nav_link(controller: [:tags, :releases]) do
          = link_to project_tags_path(@project) do
            #{ _('Tags') }

        = nav_link(path: 'graphs#show') do
          = link_to project_graph_path(@project, current_ref) do
            #{ _('Contributors') }

        = nav_link(controller: %w(network)) do
          = link_to project_network_path(@project, current_ref) do
            #{ s_('ProjectNetworkGraph|Graph') }

        = nav_link(controller: :compare) do
          = link_to project_compare_index_path(@project, from: @repository.root_ref, to: current_ref) do
            #{ _('Compare') }

        = nav_link(path: 'graphs#charts') do
          = link_to charts_project_graph_path(@project, current_ref) do
            #{ _('Charts') }

        - if @project.feature_available?(:file_lock)
          = nav_link(controller: [:path_locks]) do
            = link_to project_path_locks_path(@project) do
              Locked Files
